<h1>Welcome to My Guestbook</h1>
<br>

<div id="guestbook-entries">
  <h2>Guestbook Entries:</h2>
  <ul>
    <% if @guestbook_entries.any? %>
      <% @guestbook_entries.each do |guestbook_entry| %>
        <li>
          <%= guestbook_entry.created_at.strftime("%b %d %Y:") %>
          <%= guestbook_entry.body %>
          <p class="like-count">
            <%= button_to "Like", guestbook_entry_path(guestbook_entry), method: :patch, action: :update %>
            <%= guestbook_entry.like ? "(#{guestbook_entry.like.num_likes} likes)" : '(0 likes)' %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div id="error-explanation">
  <p>
    <% if @guestbook_entry.errors.any? %>
      <%= pluralize(@guestbook_entry.errors.count, "error") %>
      prohibited this entry from being saved:
    <% end %>
  </p>

  <ul>
    <% @guestbook_entry.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>

<br>
<hr>
<br>

<%= form_for @guestbook_entry do |f| %>
  <h2><%= f.label :body, "Guestbook Entry:" %></h2>
  <%= f.text_area :body, cols: 60, rows: 8 %><br>
  <%= f.submit "Submit" %>
<% end %>
